[submodule "site-lisp/pkg/epkg"]
	path = site-lisp/pkg/epkg
	url = https://github.com/emacscollective/epkg
[submodule "site-lisp/pkg/borg"]
	path = site-lisp/pkg/borg
	url = https://github.com/emacscollective/borg
[submodule "site-lisp/pkg/lazy-load"]
	path = site-lisp/pkg/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/pkg/one-key"]
	path = site-lisp/pkg/one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "site-lisp/pkg/doom-themes"]
	path = site-lisp/pkg/doom-themes
	url = https://github.com/doomemacs/themes.git
[submodule "site-lisp/pkg/beacon"]
	path = site-lisp/pkg/beacon
	url = https://github.com/Malabarba/beacon.git
[submodule "site-lisp/pkg/org-modern"]
	path = site-lisp/pkg/org-modern
	url = https://github.com/minad/org-modern
[submodule "site-lisp/pkg/valign"]
	path = site-lisp/pkg/valign
	url = https://github.com/casouri/valign
[submodule "site-lisp/pkg/gcmh"]
	path = site-lisp/pkg/gcmh
	url = https://github.com/emacsmirror/gcmh
[submodule "site-lisp/pkg/compat"]
	path = site-lisp/pkg/compat
	url = https://github.com/emacs-compat/compat
[submodule "site-lisp/pkg/treesit-auto"]
	path = site-lisp/pkg/treesit-auto
	url = https://github.com/renzmann/treesit-auto.git
[submodule "site-lisp/pkg/combobulate"]
	path = site-lisp/pkg/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "site-lisp/pkg/add-hooks"]
	path = site-lisp/pkg/add-hooks
	url = https://github.com/nickmccurdy/add-hooks.git
[submodule "site-lisp/pkg/goggles"]
	path = site-lisp/pkg/goggles
	url = https://github.com/minad/goggles
[submodule "site-lisp/pkg/hl-todo"]
	path = site-lisp/pkg/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "site-lisp/pkg/anzu"]
	path = site-lisp/pkg/anzu
	url = https://github.com/emacsorphanage/anzu
[submodule "site-lisp/pkg/which-key"]
	path = site-lisp/pkg/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "site-lisp/pkg/ctrlf"]
	path = site-lisp/pkg/ctrlf
	url = https://github.com/radian-software/ctrlf.git
[submodule "site-lisp/pkg/winum"]
	path = site-lisp/pkg/winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "site-lisp/pkg/dash"]
	path = site-lisp/pkg/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/pkg/vertico"]
	path = site-lisp/pkg/vertico
	url = https://github.com/minad/vertico
[submodule "site-lisp/pkg/orderless"]
	path = site-lisp/pkg/orderless
	url = https://github.com/oantolin/orderless
[submodule "site-lisp/pkg/marginalia"]
	path = site-lisp/pkg/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "site-lisp/pkg/consult"]
	path = site-lisp/pkg/consult
	url = https://github.com/minad/consult.git
[submodule "site-lisp/pkg/embark"]
	path = site-lisp/pkg/embark
	url = https://github.com/oantolin/embark.git
[submodule "site-lisp/pkg/consult-dir"]
	path = site-lisp/pkg/consult-dir
	url = https://github.com/karthink/consult-dir
[submodule "site-lisp/pkg/ace-window"]
	path = site-lisp/pkg/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/pkg/avy"]
	path = site-lisp/pkg/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/pkg/comment-dwim-2"]
	path = site-lisp/pkg/comment-dwim-2
	url = https://github.com/remyferre/comment-dwim-2.git
[submodule "site-lisp/pkg/corfu"]
	path = site-lisp/pkg/corfu
	url = https://github.com/minad/corfu.git
[submodule "site-lisp/pkg/kind-icon"]
	path = site-lisp/pkg/kind-icon
	url = https://github.com/jdtsmith/kind-icon.git
[submodule "site-lisp/pkg/corfu-doc"]
	path = site-lisp/pkg/corfu-doc
	url = https://github.com/galeo/corfu-doc.git
[submodule "site-lisp/pkg/cape"]
	path = site-lisp/pkg/cape
	url = https://github.com/minad/cape.git
[submodule "site-lisp/pkg/yasnippet-capf"]
	path = site-lisp/pkg/yasnippet-capf
	url = https://github.com/elken/yasnippet-capf.git
[submodule "site-lisp/pkg/yasnippet"]
	path = site-lisp/pkg/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "site-lisp/pkg/yasnippet-snippets"]
	path = site-lisp/pkg/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "site-lisp/pkg/expand-region"]
	path = site-lisp/pkg/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/pkg/multiple-cursors"]
	path = site-lisp/pkg/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/pkg/vundo"]
	path = site-lisp/pkg/vundo
	url = https://github.com/casouri/vundo.git
[submodule "site-lisp/pkg/magit"]
	path = site-lisp/pkg/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/pkg/flycheck"]
	path = site-lisp/pkg/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "site-lisp/pkg/highlight-indent-guides"]
	path = site-lisp/pkg/highlight-indent-guides
	url = https://gitee.com/naso/highlight-indent-guides.git
[submodule "site-lisp/pkg/lsp-bridge"]
	path = site-lisp/pkg/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/pkg/markdown-mode"]
	path = site-lisp/pkg/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/pkg/eglot"]
	path = site-lisp/pkg/eglot
	url = https://github.com/joaotavora/eglot.git
[submodule "site-lisp/pkg/origami"]
	path = site-lisp/pkg/origami
	url = https://github.com/gregsexton/origami.el.git
[submodule "site-lisp/pkg/s"]
	path = site-lisp/pkg/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/pkg/lsp-mode"]
	path = site-lisp/pkg/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "site-lisp/pkg/f"]
	path = site-lisp/pkg/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/pkg/ht"]
	path = site-lisp/pkg/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "site-lisp/pkg/hydra"]
	path = site-lisp/pkg/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "site-lisp/pkg/spinner"]
	path = site-lisp/pkg/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "site-lisp/pkg/lsp-pyright"]
	path = site-lisp/pkg/lsp-pyright
	url = https://github.com/emacs-lsp/lsp-pyright.git
[submodule "site-lisp/pkg/lsp-ui"]
	path = site-lisp/pkg/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
[submodule "site-lisp/pkg/rainbow-delimiters"]
	path = site-lisp/pkg/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "site-lisp/pkg/highlight-defined"]
	path = site-lisp/pkg/highlight-defined
	url = https://github.com/Fanael/highlight-defined.git
[submodule "site-lisp/pkg/with-editor"]
	path = site-lisp/pkg/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/pkg/diff-hl"]
	path = site-lisp/pkg/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "site-lisp/pkg/projectile"]
	path = site-lisp/pkg/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/pkg/blink-search"]
	path = site-lisp/pkg/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "site-lisp/pkg/posframe"]
	path = site-lisp/pkg/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/pkg/tabnine"]
	path = site-lisp/pkg/tabnine
	url = https://github.com/shuxiao9058/tabnine.git
[submodule "site-lisp/pkg/editorconfig"]
	path = site-lisp/pkg/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "site-lisp/pkg/emacs-language-id"]
	path = site-lisp/pkg/emacs-language-id
	url = https://github.com/lassik/emacs-language-id.git
[submodule "site-lisp/pkg/all-the-icons"]
	path = site-lisp/pkg/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "site-lisp/pkg/doom-modeline"]
	path = site-lisp/pkg/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "site-lisp/pkg/shrink-path"]
	path = site-lisp/pkg/shrink-path
	url = https://github.com/emacsmirror/shrink-path.git
[submodule "site-lisp/pkg/nerd-icons"]
	path = site-lisp/pkg/nerd-icons
	url = https://github.com/emacsmirror/nerd-icons.git
[submodule "site-lisp/pkg/web-mode"]
	path = site-lisp/pkg/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/pkg/emmet-mode"]
	path = site-lisp/pkg/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "site-lisp/pkg/page-break-lines"]
	path = site-lisp/pkg/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "site-lisp/pkg/emacs-dashboard"]
	path = site-lisp/pkg/emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
